---
export const prerender = true;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Skill-Based Games Classification</title>
  </head>
  <body>
    <h1>Skill-Based Games Classification</h1>
    <p>
      Classifying games through the lens of skill, using Micro, Mystiko, and
      Macro dimensions within separate Challenge and Reward profiles.
    </p>
  </body>
</html>
